header {
    li {
        position: relative;
        overflow: hidden;
        color: white;

        a {
            display: block;
            padding: 20px 10px;
            position: relative;
            bottom: 0;
            transition: all 0.5s;
            &::before {
                transition: all 0.5s;
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: #fad701;
                z-index: 1;
            }

            @media (any-hover: hover) {
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    color: white;
                    opacity: 60%;
                    letter-spacing: 5px;
                }
            }
        }
        a.home {
            @media (any-hover: hover) {
                &:hover::before {
                    width: 0 !important;
                }
            }
        }

        span {
            transition: all 0.5s;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
            letter-spacing: 0;
            color: #fff;
            white-space: nowrap;
            opacity: 0;
        }
    }
}

.web {
    display: none;
}

.mobile {
    display: flex;
    ul {
        li {
            color: #fafafa;
            cursor: pointer;
            div {
                padding: 20px 10px;
                position: relative;
                bottom: 0;

                transition: all 0.5s;
                &::before {
                    transition: all 0.5s;
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background: #fad701;
                    z-index: 1;
                }
                @media (any-hover: hover) {
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover {
                        color: #5f7470;
                        letter-spacing: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .web {
        display: block;
    }
    .mobile {
        display: none;
    }
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    animation: closeMask 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &::before {
        position: absolute;
        content: '';
        height: 1px;
        top: 80px;
        left: 0;
        right: 0;
        border-bottom: 1px solid #fff;
    }
}
.mask.active {
    animation: openMask 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.menu_mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        animation: opacityOff 0.3s linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        li {
            &::before {
                transition: all 0.5s;
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: #fad701;
                z-index: 1;
            }
            @media (any-hover: hover) {
                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: #5f7470;
                    letter-spacing: 5px;
                    a {
                        bottom: -50%;
                    }
                    div {
                        bottom: -50%;
                    }
                    span {
                        top: 20px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .menu.active {
        animation: opacityOn 0.5s linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@media only screen and (orientation: landscape) and (max-height: 600px) {
    .menu_mobile {
        height: 100%;
    }
    .web {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@keyframes openMask {
    0% {
        height: 0vh;
    }

    100% {
        height: 100vh;
    }
}

@keyframes closeMask {
    0% {
        height: 100vh;
    }

    100% {
        height: 0vh;
    }
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityOff {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/** burger **/

button {
    cursor: pointer;
}

/* remove blue outline */
button:focus {
    outline: 0;
}

.burger-button {
    position: relative;
    height: 30px;
    width: 32px;
    display: block;
    z-index: 60;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    pointer-events: all;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-bar {
    background-color: #323232;
    position: absolute;
    top: 50%;
    right: 6px;
    left: 6px;
    height: 2px;
    width: auto;
    margin-top: -1px;
    transition:
        transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
        opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-bar--1 {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.burger-bar--2 {
    transform-origin: 100% 50%;
    transform: scaleX(0.8);
}

.burger-button:hover .burger-bar--2 {
    transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
    transform: scaleX(1);
}

.burger-bar--3 {
    transform: translateY(6px);
}

#burger.active .burger-button {
    transform: rotate(-180deg);
}

#burger.active .burger-bar--1 {
    transform: rotate(45deg);
    background-color: #fff;
}

#burger.active .burger-bar--2 {
    opacity: 0;
}

#burger.active .burger-bar--3 {
    transform: rotate(-45deg);
    background-color: #fff;
}
