.scrollBtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fafafa;
  color: #5f7470;
  bottom: 5%;
  right: 5%;
  border-radius: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  letter-spacing: 0.05em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.scrollBtn.isActive {
  display: flex;
  animation: Scale 0.2s linear forwards;
  animation-iteration-count: 1;
}

@keyframes Scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
