/** components */

@use './components/Layout.scss';
@use './components/AppHeader.scss';

/* Global base styles only */

* {
  -webkit-tap-highlight-color: transparent;
}

@supports (
    (height: constant(safe-area-inset-top)) or
      (height: env(safe-area-inset-top))
  )
  and (-webkit-overflow-scrolling: touch) {
  #app {
    /* 對齊瀏海 */
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

    /* 適應底部小黑條 */
    padding-bottom: 0;
    padding-bottom: costant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
@media screen and (orientation: portrait) {
  #app {
    /* 防止頁面被瀏海遮住 */
    padding-top: constant(safe-area-inset-top);
  }
}

@media screen and (orientation: landscape) {
  #app {
    /* IOS 11支持*/
    padding-right: constant(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
    /*IOS 11.2版本版本支持*/
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}
