@theme {
  /* 主色 */
  --color-primary: #1F2937;

  /* 輔色 */
  --color-secondary-slate: #64748B;
  --color-secondary-graphite: #374151;
  --color-secondary-indigo: #3B82F6;

  /* 背景 */
  --color-background: #F9FAFB;

  /* 重點色 */
  --color-accent-gold: #FAD701;
}
