@import "tailwindcss";

@theme {
  /* 🎨 主色 */
  --color-primary: #1F2937;   /* 炭灰 */

  /* 🎨 輔色 */
  --color-secondary-slate: #64748B; /* 灰藍 */
  --color-secondary-graphite: #374151; /* 石墨灰 */
  --color-secondary-indigo: #3B82F6; /* 靛藍 */

  /* 🎨 背景 */
  --color-background: #F9FAFB; /* 淺灰 */

  /* 🎨 重點色 */
  --color-accent-gold: #FAD701; /* 金色 */
}
